@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("./items.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.full-page-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .full-page-container {
    min-height: 100vh;
  }
}

.half-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-title {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -2px;
  cursor: pointer;
}
.main-title.highlight span {
  display: inline-block;
  transform: scale(1);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 5px 6px 0px #000000;
  color: white;
  transition: 0.3s ease;
}
.main-title.highlight span:hover {
  cursor: pointer;
  transform: scale(1.2);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  -webkit-background-clip: text;
          background-clip: text;
  color: rgb(255, 225, 2);
}
@media (min-width: 768px) {
  .main-title {
    font-size: 70px;
    letter-spacing: -4px;
  }
}

.subtitle {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -1px;
}
@media (min-width: 768px) {
  .subtitle {
    font-size: 46px;
    letter-spacing: -3px;
  }
}
.subtitle.small {
  font-size: 22px;
  letter-spacing: 0px;
}
@media (min-width: 768px) {
  .subtitle.small {
    font-size: 26px;
    letter-spacing: 0px;
  }
}

.box-of-fun {
  background-image: linear-gradient(90deg, hsl(265, 100%, 50%) 0%, hsl(279, 100%, 45%) 30%, hsl(101, 100%, 45%) 100%);
  height: 400px;
  width: 400px;
}

.footer-gradient {
  background-image: linear-gradient(90deg, hsl(265, 100%, 50%) 0%, hsl(284, 100%, 45%) 11%, hsl(302, 100%, 41%) 22%, hsl(316, 100%, 46%) 33%, hsl(326, 100%, 50%) 44%, hsl(333, 100%, 50%) 56%, hsl(339, 100%, 50%) 67%, hsl(345, 100%, 50%) 78%, hsl(351, 100%, 50%) 89%, hsl(0, 100%, 50%) 100%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.bitty-text {
  font-weight: 500;
  font-size: 20px;
}
@media (min-width: 768px) {
  .bitty-text {
    font-size: 24px;
  }
}

.stats-container {
  background-image: url("/images/bluegrid.png");
  background-size: contain;
  overflow-x: hidden;
}

.stats-block .stats-header {
  font-size: 40px;
  color: white;
  -webkit-text-stroke: 1px #3c417d;
  text-shadow: 4px 4px 0px #337bbb, 8px 8px 0px #3c417d, 12px 12px 0px #8f4183, 16px 16px 0px #e54138, 20px 20px 0px #facf36;
  background-color: #add4ff;
  display: inline-block;
}
@media (min-width: 768px) {
  .stats-block .stats-header {
    font-size: 90px;
  }
}
@media (min-width: 1024px) {
  .stats-block .stats-header {
    font-size: 110px;
  }
}
.stats-block .bitty-text {
  color: #838383;
  font-weight: 300;
  font-size: 24px;
  text-transform: lowercase;
}
.stats-block img {
  transition: 1s ease;
  background-color: white;
  padding: 0.5rem;
  border-radius: 15px;
  box-shadow: 3px 7px 11px #d4d4d4;
  border: 2px solid #4aa8dc;
}
.stats-block img:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
}

.progress-bar {
  box-shadow: 6px 6px 0px black;
}
.progress-bar.purple {
  background-image: linear-gradient(90deg, hsl(265, 100%, 50%) 0%, hsl(268, 100%, 50%) 6%, hsl(270, 99%, 51%) 12%, hsl(272, 99%, 51%) 18%, hsl(275, 98%, 51%) 24%, hsl(277, 98%, 52%) 29%, hsl(280, 98%, 52%) 35%, hsl(282, 98%, 52%) 41%, hsl(284, 98%, 53%) 47%, hsl(287, 98%, 53%) 53%, hsl(289, 97%, 53%) 59%, hsl(292, 97%, 54%) 65%, hsl(294, 97%, 54%) 71%, hsl(296, 96%, 54%) 76%, hsl(299, 96%, 54%) 82%, hsl(301, 96%, 55%) 88%, hsl(303, 95%, 55%) 94%, hsl(306, 95%, 55%) 100%);
}
.progress-bar.blue {
  background-image: linear-gradient(90deg, hsl(201, 100%, 50%) 0%, hsl(200, 100%, 50%) 15%, hsl(198, 100%, 50%) 21%, hsl(197, 100%, 50%) 27%, hsl(196, 100%, 50%) 31%, hsl(195, 100%, 50%) 36%, hsl(193, 100%, 50%) 40%, hsl(192, 100%, 50%) 44%, hsl(191, 100%, 50%) 48%, hsl(190, 100%, 50%) 52%, hsl(188, 100%, 50%) 56%, hsl(187, 100%, 50%) 60%, hsl(186, 100%, 50%) 64%, hsl(185, 100%, 50%) 68%, hsl(184, 100%, 50%) 73%, hsl(182, 100%, 50%) 79%, hsl(181, 100%, 50%) 85%, hsl(180, 100%, 50%) 100%);
}
.progress-bar.yellow {
  background-image: linear-gradient(90deg, hsl(65, 100%, 50%) 0%, hsl(62, 100%, 50%) 5%, hsl(59, 100%, 50%) 11%, hsl(56, 100%, 50%) 16%, hsl(54, 100%, 50%) 21%, hsl(51, 100%, 50%) 26%, hsl(48, 100%, 50%) 32%, hsl(45, 100%, 50%) 37%, hsl(43, 100%, 50%) 42%, hsl(40, 100%, 50%) 47%, hsl(37, 100%, 50%) 53%, hsl(34, 100%, 50%) 58%, hsl(32, 100%, 50%) 63%, hsl(29, 100%, 50%) 68%, hsl(26, 100%, 50%) 74%, hsl(23, 100%, 50%) 79%, hsl(20, 100%, 50%) 84%, hsl(18, 100%, 50%) 89%, hsl(15, 100%, 50%) 95%, hsl(12, 100%, 50%) 100%);
}

.circle {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid black;
}

.area-badge {
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: 0.3s ease;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -1px;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
}
.area-badge:hover {
  transform: scale(1.1);
  cursor: pointer;
}
@media (min-width: 768px) {
  .area-badge {
    font-size: 46px;
    letter-spacing: -3px;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.slick-list {
  min-height: 40vh;
}

.slick-track {
  min-height: 40vh;
}

.slick-slide {
  transition: 0.3s ease;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 40vh;
}

.slider-item {
  transition: 0.3s ease;
  margin: 1rem;
  position: relative;
}
.slider-item:focus-visible {
  outline: none !important;
  border: none !important;
}
.slider-item .title {
  font-size: 40px;
}

.portfolio-grid-item {
  transition: 0.3s ease;
}
.portfolio-grid-item .title {
  font-size: 18px;
}
.portfolio-grid-item .description {
  font-size: 16px;
}
.portfolio-grid-item:hover {
  cursor: pointer;
}

.deep-dive-synopsis {
  position: relative;
}
.deep-dive-synopsis .title {
  font-size: 24px;
  font-weight: 500;
  color: white;
}
.deep-dive-synopsis .title.black {
  color: black;
}
@media (min-width: 768px) {
  .deep-dive-synopsis .title {
    font-size: 30px;
  }
}
.deep-dive-synopsis .description {
  font-size: 16px;
  color: #acc4ff;
}
@media (min-width: 768px) {
  .deep-dive-synopsis .description {
    font-size: 20px;
  }
}
.deep-dive-synopsis .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0;
  transition: 0.3s ease;
  background-color: black;
  font-size: 24px;
}
.deep-dive-synopsis:hover {
  cursor: pointer;
}
.deep-dive-synopsis:hover .overlay {
  opacity: 0.8;
}

.deep-dive-block {
  background-image: url("/images/sea.jpg");
  background-size: cover;
  background-position: bottom;
}
.deep-dive-block .main-title {
  background: #191919;
  display: inline-block;
  color: white;
  text-shadow: 2px 2px 8px #000;
}

.finger-down {
  animation: bounce 1s infinite;
  animation-timing-function: ease;
  position: relative;
}

@keyframes bounce {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}
.walkable-block-1 {
  height: 50%;
  width: 100%;
  background-image: url("/images/floatingcity.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(-5deg);
}
@media (min-width: 1024px) {
  .walkable-block-1 {
    height: 80%;
  }
}

.walkable-block-2 {
  min-height: 60vh;
  width: 100%;
  background-image: url("/images/greenspaces.jpg");
  background-size: 300%;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(10deg);
}

.yilon-block {
  min-height: 20vh;
  width: 80%;
  background-image: url("/images/yilon.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20%;
}
@media (min-width: 1024px) {
  .yilon-block {
    min-height: 60vh;
  }
}

.testimonial-block {
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  font-size: 20px;
  width: 100%;
}
@media (min-width: 1024px) {
  .testimonial-block {
    font-size: 40px;
    width: 80%;
  }
}
.testimonial-block .quotation-mark {
  font-size: 80px;
  position: absolute;
  top: -80px;
  left: -40px;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
  -webkit-text-stroke: 2px #3c417d;
  text-shadow: 4px 4px 0px #337bbb, 8px 8px 0px #3c417d, 12px 12px 0px #8f4183, 16px 16px 0px #e54138, 20px 20px 0px #facf36;
  color: white;
}
@media (min-width: 1024px) {
  .testimonial-block .quotation-mark {
    font-size: 120px;
    top: -80px;
    left: -40px;
  }
}

#fullPageVideo {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.full-page-video-content {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.eliot-shadow {
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 80%;
}

.embla__slide {
  position: relative;
  flex: 0 0 30%;
  background-color: red;
}

.zig-zag-bottom:after {
  background: linear-gradient(-45deg, transparent 16px, black 0), linear-gradient(45deg, transparent 16px, black 0);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 22px 32px;
  content: "";
  display: block;
  width: 100%;
  height: 32px;
  position: relative;
  top: 0px;
  left: 0px;
}

.image-gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
    border-top-right-radius: 60px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 90px;
  }
  25% {
    background-position: 100% 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0px;
  }
  50% {
    background-position: 75% 25%;
    border-top-right-radius: 30px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 0px;
  }
  95% {
    background-position: 100% 50%;
    border-top-right-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 40px;
  }
  100% {
    background-position: 0% 50%;
    border-top-right-radius: 60px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 90px;
  }
}
.wavybreak {
  -webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 98.77%, 1% 97.59%, 2% 94.5%, 3% 90.69%, 4% 87.6%, 5% 86.42%, 6% 87.6%, 7% 90.69%, 8% 94.5%, 9% 97.59%, 10% 98.77%, 11% 97.59%, 12% 94.5%, 13% 90.69%, 14% 87.6%, 15% 86.42%, 16% 87.6%, 17% 90.69%, 18% 94.5%, 19% 97.59%, 20% 98.77%, 21% 97.59%, 22% 94.5%, 23% 90.69%, 24% 87.6%, 25% 86.42%, 26% 87.6%, 27% 90.69%, 28% 94.5%, 29% 97.59%, 30% 98.77%, 31% 97.59%, 32% 94.5%, 33% 90.69%, 34% 87.6%, 35% 86.42%, 36% 87.6%, 37% 90.69%, 38% 94.5%, 39% 97.59%, 40% 98.77%, 41% 97.59%, 42% 94.5%, 43% 90.69%, 44% 87.6%, 45% 86.42%, 46% 87.6%, 47% 90.69%, 48% 94.5%, 49% 97.59%, 50% 98.77%, 51% 97.59%, 52% 94.5%, 53% 90.69%, 54% 87.6%, 55% 86.42%, 56% 87.6%, 57% 90.69%, 58% 94.5%, 59% 97.59%, 60% 98.77%, 61% 97.59%, 62% 94.5%, 63% 90.69%, 64% 87.6%, 65% 86.42%, 66% 87.6%, 67% 90.69%, 68% 94.5%, 69% 97.59%, 70% 98.77%, 71% 97.59%, 72% 94.5%, 73% 90.69%, 74% 87.6%, 75% 86.42%, 76% 87.6%, 77% 90.69%, 78% 94.5%, 79% 97.59%, 80% 98.77%, 81% 97.59%, 82% 94.5%, 83% 90.69%, 84% 87.6%, 85% 86.42%, 86% 87.6%, 87% 90.69%, 88% 94.5%, 89% 97.59%, 90% 98.77%, 91% 97.59%, 92% 94.5%, 93% 90.69%, 94% 87.6%, 95% 86.42%, 96% 87.6%, 97% 90.69%, 98% 94.5%, 99% 97.59%, 100% 98.77%);
          clip-path: polygon(100% 100%, 0% 100%, 0% 98.77%, 1% 97.59%, 2% 94.5%, 3% 90.69%, 4% 87.6%, 5% 86.42%, 6% 87.6%, 7% 90.69%, 8% 94.5%, 9% 97.59%, 10% 98.77%, 11% 97.59%, 12% 94.5%, 13% 90.69%, 14% 87.6%, 15% 86.42%, 16% 87.6%, 17% 90.69%, 18% 94.5%, 19% 97.59%, 20% 98.77%, 21% 97.59%, 22% 94.5%, 23% 90.69%, 24% 87.6%, 25% 86.42%, 26% 87.6%, 27% 90.69%, 28% 94.5%, 29% 97.59%, 30% 98.77%, 31% 97.59%, 32% 94.5%, 33% 90.69%, 34% 87.6%, 35% 86.42%, 36% 87.6%, 37% 90.69%, 38% 94.5%, 39% 97.59%, 40% 98.77%, 41% 97.59%, 42% 94.5%, 43% 90.69%, 44% 87.6%, 45% 86.42%, 46% 87.6%, 47% 90.69%, 48% 94.5%, 49% 97.59%, 50% 98.77%, 51% 97.59%, 52% 94.5%, 53% 90.69%, 54% 87.6%, 55% 86.42%, 56% 87.6%, 57% 90.69%, 58% 94.5%, 59% 97.59%, 60% 98.77%, 61% 97.59%, 62% 94.5%, 63% 90.69%, 64% 87.6%, 65% 86.42%, 66% 87.6%, 67% 90.69%, 68% 94.5%, 69% 97.59%, 70% 98.77%, 71% 97.59%, 72% 94.5%, 73% 90.69%, 74% 87.6%, 75% 86.42%, 76% 87.6%, 77% 90.69%, 78% 94.5%, 79% 97.59%, 80% 98.77%, 81% 97.59%, 82% 94.5%, 83% 90.69%, 84% 87.6%, 85% 86.42%, 86% 87.6%, 87% 90.69%, 88% 94.5%, 89% 97.59%, 90% 98.77%, 91% 97.59%, 92% 94.5%, 93% 90.69%, 94% 87.6%, 95% 86.42%, 96% 87.6%, 97% 90.69%, 98% 94.5%, 99% 97.59%, 100% 98.77%);
  margin-top: -95px;
  position: relative;
  z-index: 10;
  background-color: white;
}
.wavybreak.top {
  margin-bottom: -22px;
  margin-top: 0px;
  -webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 1% 91.32%, 2% 68.59%, 3% 40.5%, 4% 17.77%, 5% 9.09%, 6% 17.77%, 7% 40.5%, 8% 68.59%, 9% 91.32%, 10% 100%, 11% 91.32%, 12% 68.59%, 13% 40.5%, 14% 17.77%, 15% 9.09%, 16% 17.77%, 17% 40.5%, 18% 68.59%, 19% 91.32%, 20% 100%, 21% 91.32%, 22% 68.59%, 23% 40.5%, 24% 17.77%, 25% 9.09%, 26% 17.77%, 27% 40.5%, 28% 68.59%, 29% 91.32%, 30% 100%, 31% 91.32%, 32% 68.59%, 33% 40.5%, 34% 17.77%, 35% 9.09%, 36% 17.77%, 37% 40.5%, 38% 68.59%, 39% 91.32%, 40% 100%, 41% 91.32%, 42% 68.59%, 43% 40.5%, 44% 17.77%, 45% 9.09%, 46% 17.77%, 47% 40.5%, 48% 68.59%, 49% 91.32%, 50% 100%, 51% 91.32%, 52% 68.59%, 53% 40.5%, 54% 17.77%, 55% 9.09%, 56% 17.77%, 57% 40.5%, 58% 68.59%, 59% 91.32%, 60% 100%, 61% 91.32%, 62% 68.59%, 63% 40.5%, 64% 17.77%, 65% 9.09%, 66% 17.77%, 67% 40.5%, 68% 68.59%, 69% 91.32%, 70% 100%, 71% 91.32%, 72% 68.59%, 73% 40.5%, 74% 17.77%, 75% 9.09%, 76% 17.77%, 77% 40.5%, 78% 68.59%, 79% 91.32%, 80% 100%, 81% 91.32%, 82% 68.59%, 83% 40.5%, 84% 17.77%, 85% 9.09%, 86% 17.77%, 87% 40.5%, 88% 68.59%, 89% 91.32%, 90% 100%, 91% 91.32%, 92% 68.59%, 93% 40.5%, 94% 17.77%, 95% 9.09%, 96% 17.77%, 97% 40.5%, 98% 68.59%, 99% 91.32%, 100% 100%);
          clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 1% 91.32%, 2% 68.59%, 3% 40.5%, 4% 17.77%, 5% 9.09%, 6% 17.77%, 7% 40.5%, 8% 68.59%, 9% 91.32%, 10% 100%, 11% 91.32%, 12% 68.59%, 13% 40.5%, 14% 17.77%, 15% 9.09%, 16% 17.77%, 17% 40.5%, 18% 68.59%, 19% 91.32%, 20% 100%, 21% 91.32%, 22% 68.59%, 23% 40.5%, 24% 17.77%, 25% 9.09%, 26% 17.77%, 27% 40.5%, 28% 68.59%, 29% 91.32%, 30% 100%, 31% 91.32%, 32% 68.59%, 33% 40.5%, 34% 17.77%, 35% 9.09%, 36% 17.77%, 37% 40.5%, 38% 68.59%, 39% 91.32%, 40% 100%, 41% 91.32%, 42% 68.59%, 43% 40.5%, 44% 17.77%, 45% 9.09%, 46% 17.77%, 47% 40.5%, 48% 68.59%, 49% 91.32%, 50% 100%, 51% 91.32%, 52% 68.59%, 53% 40.5%, 54% 17.77%, 55% 9.09%, 56% 17.77%, 57% 40.5%, 58% 68.59%, 59% 91.32%, 60% 100%, 61% 91.32%, 62% 68.59%, 63% 40.5%, 64% 17.77%, 65% 9.09%, 66% 17.77%, 67% 40.5%, 68% 68.59%, 69% 91.32%, 70% 100%, 71% 91.32%, 72% 68.59%, 73% 40.5%, 74% 17.77%, 75% 9.09%, 76% 17.77%, 77% 40.5%, 78% 68.59%, 79% 91.32%, 80% 100%, 81% 91.32%, 82% 68.59%, 83% 40.5%, 84% 17.77%, 85% 9.09%, 86% 17.77%, 87% 40.5%, 88% 68.59%, 89% 91.32%, 90% 100%, 91% 91.32%, 92% 68.59%, 93% 40.5%, 94% 17.77%, 95% 9.09%, 96% 17.77%, 97% 40.5%, 98% 68.59%, 99% 91.32%, 100% 100%);
}/*# sourceMappingURL=globals.css.map */